<footer class="bg-dark footer">
   <section class="logo ftr-col">
      <a href="/"><img src="Icons/main_logo_light.svg" alt="" class="logo ftr-logo"></a>
   </section>
   <section class="ftr-col">
      <a href="/">Home</a>
   </section>
   <section class="ftr-col">
      <a href="/projects">Our Work</a>
   </section>
   <section class="ftr-col">
      <a href="/about">About</a>
   </section>
   <section class="ftr-col">
      <a href="/contact">Contact</a>
   </section>
</footer>

</body>
</html>