<%- include("partials/head") %>

<body class="body" id="about">
	<%- include("partials/nav") %>
	<main class="main-wrapper">
		<div class="about-image-wrapper">
			<img
				src="Images/finished_contruction_3.jpg"
				alt=""
				class="about-image"
			/>
		</div>
		<div class="about-text-wrapper">
			<p class="about-text">
				SLConstruction is a construction company that is located in the
				Wheeling/Moundsville WV area. It was founded by J. Sky Lucas which
				owns and operates it. SLConstruction was founded in 2017 as a
				construction company due to a lack of professional and talented
				construction companies located in the area. Much of SLConstruction's
				work is through the residential sector though recenly we have been
				slowly expanding into the commercial sector. SLConstruction is
				committed to providing goods and services to the residence and
				businesses in the Moundsville and Wheeling area at a great and
				affordable price. We guarantee that you will love the work done. We
				currently operate in the following sectors:
			</p>
		</div>
		<div class="about-services-section">
			<div class="about-residential-services">
				<h2>Residential Services</h2>
				<ul>
					<li>Home Repairs</li>
					<li>Kitchen Remodels</li>
					<li>Bathroom Remodels</li>
					<li>Plumbing</li>
					<li>Shingle/Metal Roofing</li>
					<li>Drywalling/Panneling intallation</li>
					<li>Concrete and Patio</li>
					<li>New Deck Installs</li>
					<li>Deck Remodel/Removal</li>
				</ul>
			</div>
			<div class="about-commercial-services">
				<h2>Commercial Services</h2>
				<ul>
					<li>Brick/Block Resurfacing</li>
					<li>Concrete Removal/Resurfacing</li>
					<li>Asphault Removal/Resurfacing</li>
					<li>Interior and Exterior Cleaning</li>
					<li>Paint Removal and Repainting</li>
				</ul>
			</div>
		</div>
	</main>
</body>

<%- include("partials/footer") %>
