<%- include("partials/head") %>

<body>
	<main class="error-body">
		<%- include("partials/nav") %>
		<div class="error-container">
			<h1>Sorry we couldn't find that page.</h1>
			<i>Status Code: 404</i>
			<h3>If you need a free qoute you can contact us here:</h3>
			<a href="/contact" class="btn btn-primary">Free qoute</a>
			<div class="error-img-container">
				<img src="Icons/error_img.svg" alt="" class="error-img" />
			</div>
		</div>
	</main>
</body>

<%- include("partials/footer") %>
