<%- include("partials/head") %>

<body class="body" id="projects">
	<%- include("partials/nav") %>
	<main class="main-wrapper project-page">
		<section class="project-wrapper">
			<div>
				<div class="close-wrapper">
					<div class="close"></div>
				</div>
				<img
					src="Images/project-template-image.jpg"
					alt=""
					class="project-image"
				/>
			</div>

			<div class="project-description">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid
					id, excepturi illo ad dicta explicabo vitae perferendis atque,
					consequatur quibusdam itaque quam mollitia, nulla odio maiores
					dignissimos. Ipsa eveniet excepturi totam a eligendi! Ratione, ex
					illo eligendi esse tempore voluptatum fugiat unde. Ratione
					obcaecati harum quidem asperiores sint dicta sequi voluptas,
					voluptatem enim ut! Tempora repellat recusandae maiores, tenetur
					earum voluptate illo minus voluptatum vero rerum voluptas eos
					laborum alias facilis veritatis officiis laudantium fugiat culpa
					unde laboriosam possimus quia suscipit architecto. Eum, quam
					commodi neque itaque delectus distinctio dicta, facilis, repellat
					culpa dolores libero! Temporibus maxime voluptates quam
					aspernatur!
				</p>
			</div>
		</section>
		<section class="project-wrapper">
			<div>
				<img
					src="Images/project-template-image-1.jpg"
					alt=""
					class="project-image"
				/>
			</div>
			<div class="project-description">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid
					id, excepturi illo ad dicta explicabo vitae perferendis atque,
					consequatur quibusdam itaque quam mollitia, nulla odio maiores
					dignissimos. Ipsa eveniet excepturi totam a eligendi! Ratione, ex
					illo eligendi esse tempore voluptatum fugiat unde. Ratione
					obcaecati harum quidem asperiores sint dicta sequi voluptas,
					voluptatem enim ut! Tempora repellat recusandae maiores, tenetur
					earum voluptate illo minus voluptatum vero rerum voluptas eos
					laborum alias facilis veritatis officiis laudantium fugiat culpa
					unde laboriosam possimus quia suscipit architecto. Eum, quam
					commodi neque itaque delectus distinctio dicta, facilis, repellat
					culpa dolores libero! Temporibus maxime voluptates quam
					aspernatur!
				</p>
			</div>
		</section>
		<section class="project-wrapper">
			<div>
				<img
					src="Images/project-template-image.jpg"
					alt=""
					class="project-image"
				/>
			</div>
			<div class="project-description">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid
					id, excepturi illo ad dicta explicabo vitae perferendis atque,
					consequatur quibusdam itaque quam mollitia, nulla odio maiores
					dignissimos. Ipsa eveniet excepturi totam a eligendi! Ratione, ex
					illo eligendi esse tempore voluptatum fugiat unde. Ratione
					obcaecati harum quidem asperiores sint dicta sequi voluptas,
					voluptatem enim ut! Tempora repellat recusandae maiores, tenetur
					earum voluptate illo minus voluptatum vero rerum voluptas eos
					laborum alias facilis veritatis officiis laudantium fugiat culpa
					unde laboriosam possimus quia suscipit architecto. Eum, quam
					commodi neque itaque delectus distinctio dicta, facilis, repellat
					culpa dolores libero! Temporibus maxime voluptates quam
					aspernatur!
				</p>
			</div>
		</section>
		<section class="project-wrapper">
			<div>
				<img
					src="Images/project-template-image.jpg"
					alt=""
					class="project-image"
				/>
			</div>
			<div class="project-description">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid
					id, excepturi illo ad dicta explicabo vitae perferendis atque,
					consequatur quibusdam itaque quam mollitia, nulla odio maiores
					dignissimos. Ipsa eveniet excepturi totam a eligendi! Ratione, ex
					illo eligendi esse tempore voluptatum fugiat unde. Ratione
					obcaecati harum quidem asperiores sint dicta sequi voluptas,
					voluptatem enim ut! Tempora repellat recusandae maiores, tenetur
					earum voluptate illo minus voluptatum vero rerum voluptas eos
					laborum alias facilis veritatis officiis laudantium fugiat culpa
					unde laboriosam possimus quia suscipit architecto. Eum, quam
					commodi neque itaque delectus distinctio dicta, facilis, repellat
					culpa dolores libero! Temporibus maxime voluptates quam
					aspernatur!
				</p>
			</div>
		</section>
		<section class="project-wrapper">
			<div>
				<img
					src="Images/project-template-image.jpg"
					alt=""
					class="project-image"
				/>
			</div>
			<div class="project-description">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid
					id, excepturi illo ad dicta explicabo vitae perferendis atque,
					consequatur quibusdam itaque quam mollitia, nulla odio maiores
					dignissimos. Ipsa eveniet excepturi totam a eligendi! Ratione, ex
					illo eligendi esse tempore voluptatum fugiat unde. Ratione
					obcaecati harum quidem asperiores sint dicta sequi voluptas,
					voluptatem enim ut! Tempora repellat recusandae maiores, tenetur
					earum voluptate illo minus voluptatum vero rerum voluptas eos
					laborum alias facilis veritatis officiis laudantium fugiat culpa
					unde laboriosam possimus quia suscipit architecto. Eum, quam
					commodi neque itaque delectus distinctio dicta, facilis, repellat
					culpa dolores libero! Temporibus maxime voluptates quam
					aspernatur!
				</p>
			</div>
		</section>
		<section class="project-wrapper">
			<div>
				<img
					src="Images/project-template-image.jpg"
					alt=""
					class="project-image"
				/>
			</div>
			<div class="project-description">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid
					id, excepturi illo ad dicta explicabo vitae perferendis atque,
					consequatur quibusdam itaque quam mollitia, nulla odio maiores
					dignissimos. Ipsa eveniet excepturi totam a eligendi! Ratione, ex
					illo eligendi esse tempore voluptatum fugiat unde. Ratione
					obcaecati harum quidem asperiores sint dicta sequi voluptas,
					voluptatem enim ut! Tempora repellat recusandae maiores, tenetur
					earum voluptate illo minus voluptatum vero rerum voluptas eos
					laborum alias facilis veritatis officiis laudantium fugiat culpa
					unde laboriosam possimus quia suscipit architecto. Eum, quam
					commodi neque itaque delectus distinctio dicta, facilis, repellat
					culpa dolores libero! Temporibus maxime voluptates quam
					aspernatur!
				</p>
			</div>
		</section>
		<section class="project-wrapper">
			<div>
				<img
					src="Images/project-template-image.jpg"
					alt=""
					class="project-image"
				/>
			</div>
			<div class="project-description">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid
					id, excepturi illo ad dicta explicabo vitae perferendis atque,
					consequatur quibusdam itaque quam mollitia, nulla odio maiores
					dignissimos. Ipsa eveniet excepturi totam a eligendi! Ratione, ex
					illo eligendi esse tempore voluptatum fugiat unde. Ratione
					obcaecati harum quidem asperiores sint dicta sequi voluptas,
					voluptatem enim ut! Tempora repellat recusandae maiores, tenetur
					earum voluptate illo minus voluptatum vero rerum voluptas eos
					laborum alias facilis veritatis officiis laudantium fugiat culpa
					unde laboriosam possimus quia suscipit architecto. Eum, quam
					commodi neque itaque delectus distinctio dicta, facilis, repellat
					culpa dolores libero! Temporibus maxime voluptates quam
					aspernatur!
				</p>
			</div>
		</section>
		<section class="project-wrapper">
			<div>
				<img
					src="Images/project-template-image.jpg"
					alt=""
					class="project-image"
				/>
			</div>
			<div class="project-description">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid
					id, excepturi illo ad dicta explicabo vitae perferendis atque,
					consequatur quibusdam itaque quam mollitia, nulla odio maiores
					dignissimos. Ipsa eveniet excepturi totam a eligendi! Ratione, ex
					illo eligendi esse tempore voluptatum fugiat unde. Ratione
					obcaecati harum quidem asperiores sint dicta sequi voluptas,
					voluptatem enim ut! Tempora repellat recusandae maiores, tenetur
					earum voluptate illo minus voluptatum vero rerum voluptas eos
					laborum alias facilis veritatis officiis laudantium fugiat culpa
					unde laboriosam possimus quia suscipit architecto. Eum, quam
					commodi neque itaque delectus distinctio dicta, facilis, repellat
					culpa dolores libero! Temporibus maxime voluptates quam
					aspernatur!
				</p>
			</div>
		</section>
	</main>
</body>

<%- include("partials/footer") %>
