<%- include("partials/head") %>
<body class="body" id="reviews">
	<%- include("partials/nav") %>
	<main class="main-wrapper">
		<h1>The reviews section will be implimented in the future</h1>
	</main>
</body>

<%- include("partials/footer") %>
