html {
	overflow-x: hidden;
}

.main-wrapper {
	min-height: 70vh;
}

.home-main-wrapper {
	position: relative;
	height: 100vh;
	width: 100vw;
}

.def-container {
	max-width: 75vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.home-main-wrapper::before {
	content: "";
	background-image: url("../Images/new_kitchen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity: 0.6;
}

.home-main-center-elm {
	display: flex;
	height: 90%;
	justify-content: center;
	align-items: center;
	position: relative;
	flex-direction: column;
	text-align: center;
}

.logo {
	height: 30px;
	width: 30px;
	margin-left: 30px;
}

.sticky-top {
	z-index: 1;
}

.nav-container {
	justify-content: flex-end;
}

.nav-link:hover {
	background-color: #66666677;
	color: #cfcfcf;
	border-radius: 12px;
}

.nav-text {
	color: #cfcfcf;
}

.home-wrapper {
	height: 65vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(235, 235, 235);
}

.home-image {
	width: 90vw;
	height: 60vh;
	object-fit: cover;
}

.project-page {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.project-wrapper {
	width: 90%;
	background-color: rgb(201, 201, 201);
	margin: 15px 0;
	border-radius: 15px;
	display: flex;
	justify-content: space-between;
	min-height: 150px;
	align-items: center;
}

.carousel {
	width: 100%;
}

.project-image {
	max-height: 300px;
	max-width: 100%;
	object-fit: contain;
	margin: 15px 0;
	padding: 0 50px;
}

.project-image-wrapper {
	max-width: 70%;
}

.project-description {
	max-width: 30%;
	padding-right: 50px;
}

.about-image-wrapper,
.about-text-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.about-image,
.about-text {
	height: 30vh;
	width: 90vw;
	object-fit: cover;
}

.about-text {
	margin-top: 50px;
	font-size: 24px;
	overflow-wrap: break-word;
	height: auto;
}

.about-services-section {
	display: flex;
	width: 100vw;
	justify-content: space-around;
	margin: 50px 0 50px 0;
}

.about-residential-services,
.about-commercial-services {
	background-color: rgba(190, 190, 190, 0.7);
	padding: 50px;
	border-radius: 15px;
}

.about-residential-services h2,
.about-commercial-services h2 {
	font-size: 42px;
}

.about-residential-services ul,
.about-commercial-services ul {
	font-size: 24px;
}

.contact-page {
	background-image: url("../Images/remodel_image.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.contact-wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.quote-form {
	margin-top: 50px;
	background-color: rgba(200, 200, 200, 0.938);
	padding: 50px;
	border-radius: 15px;
}

.contact-section {
	display: flex;
	justify-content: space-between;
	margin: 10px 0;
}

.contact-section input {
	width: 65%;
}

.description-area {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.contact-form-buttons {
	display: flex;
	justify-content: center;
}

.contact-form-buttons button {
	margin: 10px;
}

.phone-section {
	margin: 50px 0;
}

.OR-text {
	text-align: center;
}

.required::before {
	content: "*";
	color: red;
	position: relative;
}

.image-view {
	height: 100vh;
	width: 100vw;
	position: absolute;
	object-fit: contain;
	left: 0;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.5);
}

.close-wrapper {
	position: absolute;
	right: 5px;
	height: 50px;
	width: 50px;
	background-color: transparent;
	z-index: 3;
	display: none;
	align-items: center;
	justify-content: center;
}

.close {
	position: relative;
	height: 40px;
	width: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.close::before,
.close::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 4px;
	background-color: rgb(219, 219, 219);
	border-radius: 15px;
}

.close::before {
	transform: rotate(45deg);
}

.close::after {
	transform: rotate(-45deg);
}

.close-wrapper:hover {
	cursor: pointer;
	transform: scale(1.2);
}

.footer {
	height: auto;
	/* margin-top: 30px; */
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ftr-col {
	width: 20%;
}

.ftr-col a,
.ftr-col a:visited,
.ftr-col a:active {
	color: rgb(224, 224, 224);
}

.ftr-logo {
	height: 60px;
	width: 60px;
	margin-left: 70px;
}

/* Add this to the body when you dont want to scroll */
.noscroll {
	overflow-y: hidden;
}

.error-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.error-body {
	height: 100vh;
	background-image: linear-gradient(
		to right,
		rgba(250, 45, 45, 0.877),
		rgba(238, 93, 93, 0.788),
		rgba(250, 45, 45, 0.877)
	);
}

.error-img-container {
	height: 500px;
	width: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.error-img {
	height: 25%;
	width: 25%;
}

/* Start Responsive Code */

@media (max-width: 1000px) {
	.quotes-section {
		width: 100%;
		margin: 0;
	}
	.customer-service-section {
		height: auto;
	}
	.about-services-section {
		flex-direction: column;
		height: auto;
		justify-content: space-between;
	}
	.about-text {
		font-size: 18px;
		text-align: center;
	}
	.about-residential-services {
		margin: 50px;
	}
	.about-commercial-services {
		margin: 50px;
	}
	.logo {
		height: auto;
	}
	.footer {
		width: 100%;
		height: auto;
		flex-direction: column;
	}
	.ftr-col {
		margin: 50px;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
}

@media (max-width: 950px) {
	.project-wrapper {
		flex-direction: column;
	}
	.project-description {
		max-width: 90%;
	}
}

@media (max-width: 550px) {
	.about-residential-services,
	.about-commercial-services {
		margin-right: 0;
		margin-left: 0;
		padding: 0;
		border-radius: 0;
	}
}
